
body{
  background: #232530;
}
.form_area {

  padding: 50px 0;
}
.form_area label,.form_header {
  color: white;
  font-weight: bold;
}
.button {
  background: #ffbc00;
  border: none;
  color: white;
  padding: 9px 32px;
  font-weight: bold;
  border-radius: 5px;
}
.btn_bg_2{
  background: rebeccapurple;
}
.form_area .button {
  margin-right: 12px;
}
.table{
  color:white  !important
}
.smallBTN{
  padding: 1px 18px;
  font-weight: normal;
  font-size: 13px;
}
.table .button {
  margin-left: 6px;
}

@media (max-width:768px){
  .scroll-x {
    overflow-x: scroll;
  }
}

/* Hide Input Arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}